* {
    box-sizing: border-box;
}

body {
    background-color: rgb(36, 36, 36);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 2vw;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    color: rgb(190, 255, 233);
    border-radius: 15px 15px 0px 0px;
    box-shadow: inset 0px 0px 20px 8px rgb(16, 170, 144);
    background-image: url("../img/legobild1.JPG"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#welcome {
    text-align: center;
    text-shadow: 2px 2px 0px black;
    padding-top: 3rem;
}

#welcome h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 200%;
    margin: 0;
}

#welcome p {
    margin: 0;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0px;
    margin: 0;
    background-color: #333; 
}
 
li {
    width: 100%;
    text-align: center;
}

li a {
    display: block;
    padding: 1rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

ul li:first-child {
    box-shadow: inset 15px 0px 15px -10px rgb(16, 170, 144);
}

ul li:last-child {
    box-shadow: inset -15px 0px 15px -10px rgb(16, 170, 144);
}

li a:hover:not(.active) {
    background-color: coral;
}

.active {
    background-color:rgb(171, 201, 196);     
}

article {
    display: flex;
    background-color:rgb(16, 170, 144);
    color: rgb(190, 255, 233);
    padding: 20px;
    border-radius: 0px 0px 15px 15px;
}

h2 {
    font-family: cursive;
}

.my-picture {
    border: 5px solid rgb(190, 255, 233); 
    border-radius: 1000px; 
    width: 100%;
    height: 100%;
    max-width: 350px;
    margin: 20px;
}

figure {
    margin: 0;
    padding: 0;   
}

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-section h2 {
    margin: 0;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    color: gray;
    text-align: center;
    font-size: small;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {    
    header {
        height: 20rem;
    }

    article { 
        flex-direction: column;
        align-items: center;
    }

    .about-article img {
        margin: 0;
    }
    
}
